<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Mercurial Blog</title>
		{% load staticfiles %}
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		{% load bootstrap3 %}
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		<link href="{% static 'css/blogbar.css' %}" rel="stylesheet">
	</head>
	<body>
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div id="header">
					<h1 class="cover-heading" style='text-align: center;'>{% block title %}Mercurial Bl&#9791;g{% endblock %}</h1>
				</div>
			</div>
		</div>
		<nav id="nav" class="navbar-static-top" data-spy="affix" data-offset-top="70">
			<ul class="nav masthead-nav">
				<li role="presentation"><a href="/">Home</a></li>
				<li role="presentation"><a href="/bio">Bio</a></li>
				<li role="presentation" class="active"><a href="/blog">Blog</a></li>
			</ul>
		</nav>
		<div>
			{% if tag != None %}
			<h1>{{tag.name}}</h1>
			<span> {{tag.description}}</span>
			{% endif %}
			{% if error != None %}
			<div class="alert alert-danger" role="alert">{{error}}</div>
			{% endif %}		
		</div>
		<hr />
		{% for post in posts %}
			<article>
				<header>
					<time>{{post.post_date}}</time>
					<h2><a href='/blog/post/{{post.id}}'>{{post.title}}</a></h2>
				</header>
				<div class="container">
					<div class="well">
						<p class="lead">
						{% autoescape off %}{{post.content}}{% endautoescape %}
						</p>
					</div>
					<footer> 
						{% if post.tags.count != 0 %}
						<div class="well well-sm">
							<h4> Tags: </h4>
							{% for t in post.tags.all %} <a href="/blog/tag/{{t.name}}" style="color: black;">#{{t.name}}</a>{% endfor %}
						</div>
						{% endif %}
					</footer>
				</div>
			</article>
			<hr />
		{% endfor %}
    	</body>
</html>
