<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Mercurial Blog</title>
		{% load staticfiles %}
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		{% load bootstrap3 %}
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		<link href="{% static 'css/blogbar.css' %}" rel="stylesheet">
	</head>
	<body>
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div id="header">
					<h1 class="cover-heading" style='text-align: center;'>{% block title %}Mercurial Bi&#9791;{% endblock %}</h1>
				</div>
			</div>
		</div>
		<nav id="nav" class="navbar-static-top" data-spy="affix" data-offset-top="70">
			<ul class="nav masthead-nav">
				<li role="presentation"><a href="/">Home</a></li>
				<li role="presentation"><a href="/bio">Bio</a></li>
				<li role="presentation" class="active"><a href="/blog">Blog</a></li>
			</ul>
		</nav>
		<article>
			<p>
			Hi there!

			I am a twenty-something software engineer living in the upper-right corner of the northeast megopolis, in the United States of America. I've been writing software since I was in high school, and this past year I started working full-time for a mid-sized B2B software company.
			I work mostly as an application security engineer, which tends to be the less sexy and well-known side of computer security. It mostly boils down to analysing the codebase and deployment of several massive software projects, writing tools to make the boring parts of said analysis go faster, and finding/exploiting novel vulnerabilities in said products. Its not Hackers and its not Mr. Robot, but at the end of the day, I get paid to beat the tar out of some incredibly interesting, complex, and expensive software systems. And that's fun :)

			Aside from my work, I occasionally find the time to work on my own software projects. You are currently reading one of them, which will evolve in the fits and bursts my copious free time allows. As time passes, I'll likely add links to projects that I think are interesting or somehow useful to the homepage.

			In addition to my digital pursuits, I am also planning on attending law school in the near future. Its going to be an exciting and interesting experience, and one I plan to enjoy.

			I'll add more to this as time goes on; its always difficult to talk about yourself to strangers, especially if they are silent, unresponsive, and phyically and temporally displaced from the writer. Whenever I think of something to say about myself that doesn't belong in a blog post, it'll go here.

			Happy Hacking,
			#9791;
	</body>
</html>
